.container {text-align:center;}
.word {color:white;}
.word:hover {color:blue;}
body {background-color:black;}
h1 {background-color:#f7cac9; color:black;}
p {background-color:black; color:#f7cac9; font-size:15px;}
h2 {background-color:#ffc0ef; color:black; font-size:15px;}
h3 {background-color:#ffc0ef; color:black; font-size:15px;}
h4 {background-color:#ffc0ef; color:black; font-size:15px;}
ul {background-color:black; color:white; font-size:15px; border-style:dotted; border-color:#ffc0ef; list-style-position:inside; text-align:justify; margin-left:470px; margin-right:465px;}
ol {background-color:black; color:white; font-size:15px; border-style:dotted; border-color:#ffc0ef;list-style-position:inside;text-align:justify; margin-left:470px; margin-right:465px;}
table, td, th {margin:auto; text-align:center; background-color:black; color:white; font-size:15px; border:5px; border-color:#ffc0ef; border-style:solid;}
img {margin:auto; border: 5px; border-color:#ffc0ef; width:10%;}
video {width:15%;}